<%- include("../partials/header") %>
<style rel="stylesheet" >
body{
	    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(136,136,136, 0.3)),url(../<%=service.image%>);
		background-position: center center;
        background-repeat: repeat;
        background-size: 100%;
		background-attachment:fixed; 
		font-family: 'Zilla Slab', serif;
	}

.A{
	margin-top:90px;
	margin-bottom:200px;
	min-height:400px;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
}

.B{
	height:auto;
	margin:15px auto;
	border:1px solid #c0c0c0;
	background-color: rgba(255,255,255,0.8);
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:start;
	width:100%;
	padding:40px;
	border-radius:5px;
	max-height:800px;
	overflow:hidden;
}

.B h1{
	font-weight:bold;
	font-size:35px;
	text-shadow:1px 1px 2px #000000;
}
.B p{
	opacity:0.9;
	font-size:18px;
	font-weight:bold;
}
.B p strong{
	opacity:1;
	font-size:21px;
	font-weight:bolder;
}
#des{
		width:600px;
	    min-height:60px;
	    border:solid 1px #c0c0c0;
	    border-radius:5px;
	    padding:3px;
	    background-color: rgba(255,255,255,0.8);
	}
	#des p{
		text-overflow:hidden;
	    white-space:wrap;
	}	
div .thnq p{
	opacity:0.95;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
}
	#createdAt{
		margin-left:350px;
		margin-right:-20px;
		font-size:17px;
	}
	.fa-trash-alt{
		color:white;
	}
	.no-booking p{
		font-size:22px;
		opacity:0.99;
	}
	
	
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {

	.A{
	margin:0px 10px 100px 10px;
	height:auto;
}
.B{
	padding:40px 0px 40px 10px;	
   }
.B h1{
  width:100%;
 font-size:32px;	
}
.B p{
	opacity:0.9;
	font-size:17px;
}	
.B p strong{
	opacity:1;
	font-size:20px;
}
#createdAt{
		margin-left:60px;
		margin-right:0px;
	}
#des{
		width:320px;
	}
div .thnq p{
	opacity:0.8;
	font-size:16px;
}
	.no-booking p{
		font-size:25px;
		width:100%;
		text-align:center;
	}
	.no-booking a{
		margin-left:20px;
	}
	
}
</style>
<%- include("../partials/navbar") %>
<%- include("../partials/flash") %>

<div class="A">
	
<% service.bookings.forEach(function(booking){ %>	
<div class="container B">
<div>
<h1>Your Booking is Confirmed for <%=booking.name%>!!!!!</h1>

<p><strong>Service Name:<%=booking.name%></strong></p>	
<p><strong>Booking Date:</strong><%=booking.date.toUTCString().substring(0,16)%></p>
<p> <strong>Booking Time:</strong><%=booking.time%></p>
<p> <strong>Booking Option:</strong><%=booking.option%></p>
<p> <strong>Booking Venue:</strong><%=booking.location%></p>
<p><strong>Expected Price:</strong><img src="https://img.icons8.com/cute-clipart/40/000000/rupee.png"/><%=booking.price%></p>
<div id="des">
<p><strong>Description:</strong><%=booking.description%></p>
</div>	
<hr>	
</div>

<!-- <div class="thnq mt-1">
<p>ThankYou for choosing the OHMS for your help.We promise to give the best!!!</p>
</div> -->
<div id="createdAt">
	<p class="text-danger float-right" > <strong>Booking Created At:</strong><%=booking.bookingCreatedAt.toUTCString().substring(0,29)%></p>	
</div>	
<div class="btn-group" role="group">
<a class="btn btn-lg btn-success mr-2"  href="/<%=service._id%>/bookings/<%=booking._id%>/edit">Edit</a>	
<form  action="/<%=service._id%>/bookings/<%=booking._id%>?_method=DELETE" method="POST">	
<button type="submit" class="btn btn-lg btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
</div>	
</div>
<% }); 
if(service.bookings.length==0){ %>
	<div class="container B no-booking">
	<p class="dispaly-4">No bookings by you yet for the <%=service.name%>!<img src="https://img.icons8.com/cute-clipart/40/000000/sad.png"/></p>
	<a href="/home/<%=service._id%>" class='btn btn-lg btn-success text-light font-weight-bold'>Wanna make One!!</a>	
	</div>	
<% } %>	
	
</div>

<%- include("../partials/footer") %>